 {{> loader_wrapper }}

<header id="header" class="page-topbar">
  <div class="navbar-fixed">
    <nav class="cyan">
      <div class="nav-wrapper">
        <h1 class="logo-wrapper"><a href="./" id="nav-home" class="brand-logo darken-1"><img src="images/corr-logo.png" alt="corr logo"/><!-- title="corr logo"--></a> <span class="logo-text">CoRR</span></h1>
        <ul id="nav-base" class="nav-bar right hide-on-med-and-down">
          <li class="search-out">
            <input type="text" class="search-out-text">
          </li>
          <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="search">
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search">
              <i class=" nav-action mdi-action-search"></i>
            </a>
          </li>
          <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="home">
            <a href="./" id= "nav-home-2" class="waves-effect waves-block waves-light">
            <i class="nav-action nav-action mdi-action-home"></i>
            </a>
          </li>
          <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="help">
            <a href="./help" id= "nav-help" class="waves-effect waves-block waves-light">
            <i class="nav-action mdi-communication-live-help"></i>
            </a>
          </li>
          <li id="nav-login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="login">
            <a href="" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse">
              <i class="nav-action nav-action mdi-navigation-menu"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<aside id="right-sidebar-nav">
  <ul id="chat-out" class="side-nav rightside-navigation">
    <li class="li-hover">
      <ul class="chat-collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header teal white-text active"><i class="mdi-action-home"></i>Login</div>
          <div class="collapsible-body recent-activity">
            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-social-person-outline prefix"></i>
                <input id="login-email" type="email" onkeypress="loginKeyPress(event);">
                <label for="login-email" class="center-align">Email</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                <input id="login-password" type="password" onkeypress="loginKeyPress(event);">
                <label for="login-password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <a id="buttonLogin" onclick="return user.login();" class="btn login-button waves-effect waves-light green col s12">Login</a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header light-blue white-text"><i class="mdi-action-input"></i>Register</div>
          <div class="collapsible-body sales-repoart">
            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-communication-email prefix"></i>
                <input id="register-email" type="email" onkeypress="registerKeyPress(event);">
                <label for="register-email" class="center-align">Email</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                <input id="register-password" type="password" onkeypress="registerKeyPress(event);">
                <label for="register-password">Password</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                <input id="register-password-again" type="password" onkeypress="registerKeyPress(event);">
                <label for="register-password-again">Password again</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <a id="buttonRegister" onclick="return user.register();" class="btn waves-effect waves-light blue col s12">Register Now</a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header teal white-text"><i class="mdi-communication-vpn-key"></i>Forgot Password</div>
          <div class="collapsible-body recent-activity">
            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-social-person-outline prefix"></i>
                <input id="recover-email" type="email" onkeypress="recoverKeyPress(event);">
                <label for="recover-email" class="center-align">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <a id="buttonRecover" onclick="return user.recover();" class="btn login-button waves-effect waves-light green col s12">Request</a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header orange white-text"><i class="mdi-communication-chat"></i><a href="https://gitter.im/usnistgov/corr" target="_blank">Chat</a></div>

        </li>
        <li>
          <div class="collapsible-header red white-text"><i class="mdi-communication-email"></i><a href="mailto:contactus.corr@gmail.com">Email</a></div>
        </li>
      </ul>
    </li>
  </ul>
</aside>

<div class="parallax-container">
  <div class="parallax">
    <img src="images/b1.jpeg">
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div  class="col s12 m4 l4 container valign-wrapper z-depth-4">
        <div class="center promo promo-example">
          <i class="mdi-image-flash-on"></i>
          <h4 class="promo-caption">Integration</h4>
          <p class="front-text light center">
            Integrate existing simulation management
            tools such
            as <a href="http://neuralensemble.org/sumatra/" target="_blank">Sumatra</a>
            with CoRR's robust and flexible API to log
            simulation records.
          </p>
        </div>
      </div>
      <div class="col s12 m4 l4 container valign-wrapper z-depth-4">
        <div class="center promo promo-example">
          <i class="mdi-social-group"></i>
          <h4 class="promo-caption">Collaboration</h4>
          <p class="light center front-text">
            Collaborate with other scientists by sharing
            simulation records and computational
            environments.
          </p>
        </div>
      </div>
      <div class="col s12 m4 l4 container valign-wrapper z-depth-4">
        <div class="center promo promo-example">
          <i class="mdi-device-devices"></i>
          <h4 class="promo-caption">Management</h4>
          <p class="light center front-text">
            Manage simulation records to maintain
            history, organize future jobs and enhance
            reproduciblity.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="float-profile" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
</div>

<div class="container">
  <section id="content">
    <div class="container">
      <div id="card-stats">
        <div class="row">
          <div class="col s12 m6 l2">
            <div class="card">
              <div class="card-content  green white-text">
                <p class="card-stats-title"><i class="mdi-social-group-add"></i> Users</p>
                <h4 class="card-stats-number" id="total-users">N/A</h4>
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l2">
            <div class="card">
              <div class="card-content purple white-text">
                <p class="card-stats-title"><i class="mdi-navigation-apps"></i> Applications</p>
                <h4 class="card-stats-number" id="total-apps">N/A</h4>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l2">
            <div class="card">
              <div class="card-content brown white-text">
                <p class="card-stats-title"><i class="mdi-file-folder"></i> Projects</p>
                <h4 class="card-stats-number" id="total-projects">N/A</h4>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l2">
            <div class="card">
              <div class="card-content blue-grey white-text">
                <p class="card-stats-title"><i class="mdi-file-cloud-upload"></i> Records</p>
                <h4 class="card-stats-number" id="total-records">N/A</h4>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l2">
            <div class="card">
              <div class="card-content red white-text">
                <p class="card-stats-title"><i class="mdi-device-storage"></i> Storage</p>
                <h4 class="card-stats-number" id="total-storage">N/A</h4>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l2">
            <div class="card">
              <div class="card-content orange white-text">
                <p class="card-stats-title"><i class="mdi-av-equalizer"></i> Traffic</p>
                <h4 class="card-stats-number" id="total-traffic">N/A</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div id="account-modal" class="modal login-form">
  <div class="modal-content">
    <div class="row">
      <div class="input-field col s12 center">
        <img src="images/picture.png" id="account-user-picture" alt="" class="circle responsive-img valign profile-image-login">
      </div>
    </div>
    <div class="divider"></div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-communication-email prefix"></i>
        <input readonly id="view-email" type="email">
        <label id="view-email-value" for="view-email">Email</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-communication-vpn-key prefix"></i>
        <input readonly id="view-api" type="text">
        <label class"truncate" id="view-api-value" for="view-api">Api Key</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <button data-clipboard-action="copy" data-clipboard-target="#view-api" class="btn waves-effect waves-light col s12">Copy Token</button>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <a href="#account-update-modal" class="modal-trigger btn waves-effect waves-light col s12">Update Account</a>
      </div>
    </div>
  </div>
</div>

<div id="account-update-modal" class="modal login-form">
  <div class="modal-content">
    <div class="row center tooltipped" data-position="top" data-delay="50" data-tooltip="click to change">
      <label for="picture-input">
        <img src="images/picture.png" alt="" id="update-user-picture" class="circle responsive-img valign profile-image-login">
      </label>
      <input id="picture-input" type="file" style="display: none;"/>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-action-lock-outline prefix"></i>
        <input id="edit-new-password" type="password">
        <label for="edit-new-password">New Password</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-action-lock-outline prefix"></i>
        <input id="edit-new-password-again" type="password">
        <label for="edit-new-password-again">New Password Again</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <a onclick="return user.update();" class="btn waves-effect waves-light col s12">Confirm</a>
      </div>
    </div>
  </div>
</div>

<div id="profile-modal" class="modal login-form">
  <div class="modal-content">
    <div class="row">
      <div class="input-field col s12 center">
        <img src="images/picture.png" alt="" id="profile-user-picture" class="circle responsive-img valign profile-image-login">
      </div>
    </div>
    <div class="divider"></div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-action-perm-identity prefix"></i>
        <input id="view-fname" type="text">
        <label id="view-fname-value" for="view-fname">First Name</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-action-assignment-ind prefix"></i>
        <input id="view-lname" type="text">
        <label id="view-lname-value" for="view-lname">Last Name</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-action-home prefix"></i>
        <input id="view-org" type="text">
        <label id="view-org-value" for="view-org">Organisation</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-action-assignment prefix"></i>
        <textarea id="view-about" class="materialize-textarea"></textarea>
        <label id="view-about-value" for="view-about">About</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <a onclick="return user.update();" class="modal-trigger btn waves-effect waves-light col s12">Update Profile</a>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <span>Funded by <a class="grey-text text-lighten-4" href="https://mgi.nist.gov/" target="_blank">NIST MGI</a>. Accessible under <a class="grey-text text-lighten-4" href="https://raw.githubusercontent.com/usnistgov/corr/master/LICENSE" target="_blank">MIT License.</a></span>
      <span class="right"> CoRR version <a id= "footer-version" class="grey-text text-lighten-4" href="https://github.com/usnistgov/corr" target="_blank">N/A</a></span>
    </div>
  </div>
</footer>
