<header id="header" class="page-topbar">
  <div class="navbar-fixed">
    <nav class="cyan">
      <div class="nav-wrapper">
        <h1 class="logo-wrapper"><a href="./" id="nav-home" class="brand-logo darken-1"><img src="images/corr-logo.png" alt="corr logo"/><!-- title="corr logo"--></a> <span class="logo-text">CoRR</span></h1>
        <ul id="nav-base" class="nav-bar right hide-on-med-and-down">
          <li class="search-out">
            <input type="text" class="search-out-text">
          </li>
          <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="search">
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search">
              <i class=" nav-action mdi-action-search"></i>
            </a>
          </li>
          <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="home">
            <a href="./" id= "nav-home-2" class="waves-effect waves-block waves-light">
            <i class="nav-action nav-action mdi-action-home"></i>
            </a>
          </li>
          <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="help">
            <a href="./help" id= "nav-help" class="waves-effect waves-block waves-light">
            <i class="nav-action mdi-communication-live-help"></i>
            </a>
          </li>
          <li id="nav-login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="login">
            <a href="" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse">
              <i class="nav-action nav-action mdi-navigation-menu"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>